<h2>Edit tile template</h2>

<%= render "form.html", changeset: @changeset, conn: @conn,
                        action: Routes.tile_template_path(@conn, :update, @tile_template) %>

<%= link "Back", to: Routes.tile_template_path(@conn, :index) %>

<%= render DungeonCrawlWeb.SharedView, "character_select_modal.html" %>
