<h2>New dungeon</h2>

<%= render "form.html", changeset: @changeset, generators: @generators, max_dimensions: @max_dimensions, dungeon: nil, map_set: @map_set,
                        action: Routes.dungeon_map_path(@conn, :create, @map_set) %>

<%= link "Back", to: Routes.dungeon_path(@conn, :show, @map_set) %>
