#! /bin/bash
. $HOME/.asdf/asdf.sh
. $HOME/.asdf/completions/asdf.bash

# Copy this file to the host (without the .example ext), delete lines below that
# arent needed (such as migrate, which only needs to run on one of the nodes)

echo $PATH
cd $HOME/dungeon_crawl
echo checking out and pulling master
git checkout master
git pull
if [ "$BRANCH" != "master" ]; then
  echo checking out and pulling $BRANCH
  git checkout $BRANCH
  git fetch
  git reset --hard origin/$BRANCH
fi
asdf install
whereis mix
MIX_QUIET=true MIX_ENV=prod mix deps.get
MIX_ENV=prod mix ecto.migrate
MIX_ENV=prod mix assets.deploy
sudo /bin/systemctl restart dungeon_crawl.service
systemctl status dungeon_crawl.service | grep active
echo "Deployed Branch: $(git branch | grep '* ')"
