<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit) %> |
<%= link "Back", to: page_path(@conn, :index) %> |
<%= link "Delete", to: user_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure you want to delete your account?"], class: "btn btn-danger btn-xs" %>

