<h2>New dungeon</h2>

<%= render "form.html", changeset: @changeset, max_dimensions: @max_dimensions, levels: [],
                        action: Routes.edit_dungeon_path(@conn, :create) %>

<%= link "Back", to: Routes.edit_dungeon_path(@conn, :index) %>
