<h2>Edit dungeon</h2>

<%= render "form.html", changeset: @changeset, max_dimensions: @max_dimensions, dungeons: @map_set.dungeons,
                        action: Routes.dungeon_path(@conn, :update, @map_set.id) %>

<%= link "Back", to: Routes.dungeon_path(@conn, :show, @map_set) %>

