<h2>Edit Setting</h2>

<div class="row">
<div class="col-6">
<%= render "form.html", changeset: @changeset,
                        action: Routes.setting_path(@conn, :update) %>
</div>
</div>

<%= link "Back", to: Routes.page_path(@conn, :index) %>
