<%= if @dungeon_render do %>
<div class="text-center">
<pre class="dungeon_preview">
<%= @dungeon_render %>
</pre>
<%= link "Clear Dungeon", to: crawler_path(@conn, :destroy), method: :delete, data: [confirm: "No going back, are you sure?"], class: "btn btn-danger btn-xs" %>
</div>
<%= else %>
Not currently in any dungeon.
<%= link "Generate a new one", to: crawler_path(@conn, :create), method: :create, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<% end %>
