/* This file is for your main application css. */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/codemirror/lib/codemirror.css";

a:not(.collapsed) svg.rotate-icon{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.table-striped-double > tbody > tr:nth-of-type(4n+1), .table-striped2 > tbody > tr:nth-of-type(4n+2) {
    background-color: rgba(0, 0, 0, 0.05);
}

.title-map {
  font-size: 50%;
}

.hilighted-score {
  background-color: aliceblue;
}

.commands td.examples {
  padding-left: 4em;
}

pre.script {
  background: #f5f5f5;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  line-height: 1.2;
  padding: 0.5em;
  width: min-content;
  font-size: 75%;
}

pre.dungeon_preview {
  background: #f5f5f5;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  display: inline-block;
  line-height: 1;
  padding: 0.5em;
}

pre.dungeon_preview table tr td {
  overflow: hidden;
  border: none;
}

pre.color_pallette {
  background: #f5f5f5;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  display: inline-block;
  line-height: 1;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 14px;
}

pre.tile_template_preview {
  background: #f5f5f5;
  border: 1px solid #dee2e6;
  display: inline-block;
  line-height: 1;
  padding: 0;
  border-radius: 0;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
}

pre.small {
  font-size:small;
}

pre.embiggen {
  font-size:large;
}

pre.embiggen_most {
  font-size:xx-large;
}

pre.dungeon_preview table, pre.color_pallette table,
#characterPickModal {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre.dungeon_preview table tr td, pre.color_pallette table tr td, td.flat:first-child:not(.collapse), td.always-flat {
  margin: 0;
  padding: 0;
}

#dungeon_editor pre.dungeon_preview table td.hilight,
#dungeon_editor pre.dungeon_preview table td div.hilight,
#dungeon_editor pre.dungeon_preview table td:hover,
#dungeon_editor pre.dungeon_preview table td div[style]:hover {
  background-color:orange !important;
}

#dungeon_editor pre.dungeon_preview table td.spawn-hilight div {
/*  background-color: blue !important; */
  animation: blinkingBackground 1s infinite !important;
}

@keyframes blinkingBackground{
  0%   { }
  25%  { background-color: lightblue;}
}

#dungeon_editor pre.dungeon_preview table td.cursor-hilight div {
/*  background-color: blue !important; */
  animation: cursorBackground 1s infinite !important;
}

@keyframes cursorBackground{
  0%   { }
  25%  { background-color: cyan;}
}

#dungeon_editor .tile_template_preview div:hover,
#characterPickModal .tile_template_preview div:hover{
  background-color:orange !important;
}

input#tile_template_character {
  width: 3em;
  padding-left: 1.2em;
}

.tile_pallette_group {
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

#z_index_range_tool input:focus, #z_index_range_tool button:focus{
  box-shadow: none;
}

.form-control.error {
  border-color: #dc3545;
}

.form-control.script {
  height: 21em;
}

.form-group .help-block {
  color: darkred;
}

.edge {
  background-color: lightgray !important;
}

.edge.north {
  border-bottom: 1px solid black;
}
.edge.south {
  border-top: 1px solid black;
}
.edge.east {
  border-left: 1px solid black;
}
.edge.west {
  border-right: 1px solid black;
}

#tileListModal .btn-sm {
  padding: 0rem 0.25rem;
}

#tileListModal .modal-dialog {
  max-width: 700px
}

/*
 * Table with sticky header row
 */

.table-responsive{
  border-top: 1px black solid;
}

.table-responsive thead tr:nth-child(1) th{
  border-top: none;
  background: #FAFAFA;
  position: sticky;
  top: 0;
  z-index: 10;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 56px 0 0; /* Height of navbar */
}

.sidebar-scroll {
  overflow-y: scroll;
  width: 25%;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.compact .nav-link {
  display: inline;
  padding: 0;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 56px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 56px; /* Space for fixed navbar */
  }
}

.listing-full-height {
  height: calc(100vh - 56px);
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

/*
 * Stat sidebar
 */

#sidebar_message_box {
  border: solid grey 1px;
  overflow-y: scroll;
}

#sidebar_message_box .timestamp {
  min-width: 3em;
}

#message_field {
  resize: none;
  height: 2.5rem;
  line-height: 1.3;
}

.stat-sidebar {
  font-size: 0.75rem;
}

.stat-sidebar hr {
  margin: 0.25rem;
}

.stat-sidebar .command_help {
  background-color: lightgray;
}

.help pre{
  display: inline;
  background-color: lightgray;
}

.smaller {
  font-size: smaller;
}

.reference table {
  font-size: 90%;
}

.reference pre {
  margin-bottom: 0;
}

.reference p {
  max-width: 45em;
}

.max-content {
  width: max-content;
}

.compact-table {
  width: auto;
  font-size: 75%;
}

/*
 * Codemirror
 */
.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}

.cm-link {text-decoration: underline;}

.cm-s-default .cm-command {color: #708;}
.cm-s-default .cm-label {color: #00f;}
.cm-s-default .cm-link {color: #00c;}

