/* This file is for your main application css. */
@import "./phoenix.css";

pre.dungeon_preview {
  display: inline-block;
  line-height: 1;
  padding: 0.5em;
}

pre.color_pallette {
  display: inline-block;
  line-height: 1;
  padding: 0.5em;
  font-size: 14px;
}

pre.tile_template_preview {
  display: inline-block;
  line-height: 1;
  padding: 0;
  border-radius: 0;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
}

pre.embiggen {
  font-size:large;
}

pre.embiggen_most {
  font-size:xx-large;
}

pre.dungeon_preview table, pre.color_pallette table {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dungeon_editor pre.dungeon_preview table td.hilight,
#dungeon_editor pre.dungeon_preview table td div.hilight,
#dungeon_editor pre.dungeon_preview table td:hover,
#dungeon_editor pre.dungeon_preview table td div[style]:hover {
  background-color:orange !important;
}

#dungeon_editor .tile_template_preview div:hover{
  background-color:orange !important;
}

.breadcrumb > li.pull-left + li:before {content: none;}

input#tile_template_character {
  width: 3em;
  padding-left: 1.2em;
}

.tile_pallette_group {
  height: 100px;
  overflow-y: scroll;
}

a.pallette_tools.active {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

a.pallette_tools.inactive {
  font-weight: bold;
}
