<pre class="dungeon_preview">
<table id="dungeon_instance" data-instance-id="<%= @dungeon.id %>" data-readonly="<%= @readonly %>">
<%= {:safe, dungeon_as_table(@dungeon, @width, @height, @with_template_id) } %>
</table>
</pre>

