<pre class="dungeon_preview">
<table id="dungeon" data-dungeon-id="<%= @dungeon.id %>" data-readonly="<%= @readonly %>">
<%= {:safe, dungeon_as_table(@dungeon, @dungeon.width, @dungeon.height, @with_template_id) } %>
</table>
</pre>

