<pre class="dungeon_preview border rounded"
><table id="dungeon_admin"
        data-map-set-id="<%= @level.dungeon_instance_id %>"
        data-instance-id="<%= @level.id %>">
<%= {:safe, level_as_table(@level, @height, @width, true) } %>
</table
></pre>

