<pre class="dungeon_preview border rounded"
><table id="level_admin"
        data-dungeon-id="<%= @level.dungeon_instance_id %>"
        data-level-id="<%= @level.id %>">
<%= {:safe, level_as_table(@level, @height, @width, true) } %>
</table
></pre>

