<pre class="dungeon_preview border rounded"
><table id="dungeon_admin"
        data-map-set-id="<%= @dungeon.map_set_instance_id %>"
        data-instance-id="<%= @dungeon.id %>">
<%= {:safe, dungeon_as_table(@dungeon, @height, @width, true) } %>
</table
></pre>

