<pre class="dungeon_preview border rounded">
<table id="dungeon" data-dungeon-id="<%= @level.id %>">
<%= {:safe, editor_level_as_table(@level, @level.height, @level.width) } %>
</table>
</pre>
<script>
window.dungeon_height = <%= @level.height %>;
window.dungeon_width = <%= @level.width %>;
</script>
