<h2>New item</h2>

<%= render "form.html", changeset: @changeset, conn: @conn,
                        action: Routes.equipment_path(@conn, :create) %>

<%= link "Back", to: Routes.equipment_path(@conn, :index) %>
