<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DungeonCrawl</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link "Dungeon Crawl", to: Routes.dungeon_path(@conn, :index), class: "nav-link" %></li>
        </ul>
        <ul class="navbar-nav mr-0">
          <%= if @current_user do %>
          <li class="nav-item"><%= link @current_user.username, to: Routes.user_path(@conn, :show), class: "nav-link" %></li>
          <%= render("menu/admin.html", conn: @conn, current_user: @current_user) %>
          <%= render("menu/dungeon_editing.html", conn: @conn, current_user: @current_user) %>
          <% end %>

          <%= render("menu/game.html", conn: @conn, current_user: @current_user, is_crawling?: @is_crawling?, has_saved_games?: @has_saved_games?) %>
          <li class="nav-item"><%= link "Scores", to: Routes.score_path(@conn, :index), class: "nav-link" %></li>
          <li class="nav-item"><%= link "Reference", to: Routes.page_path(@conn, :reference), class: "nav-link" %></li>

          <%= render("menu/session.html", conn: @conn, current_user: @current_user) %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main class="<%= main_tag_class(assigns) %>" role="main">
          <%= if Phoenix.Flash.get(@flash, :info) do %><p class="alert alert-info <%= alert_class(@conn) %>" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p><% end %>
          <%= if Phoenix.Flash.get(@flash, :error) do %><p class="alert alert-danger <%= alert_class(@conn) %>" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p><% end %>

          <%= @inner_content %>
        </main>
      </div>
    </div>

  </body>
  <script>window.logSocketMessages=<%= Mix.env() != :prod %></script>
  <script>window.userToken = "<%= assigns[:user_token] %>"</script>
  <script src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
</html>
