<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DungeonCrawl</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link "Dungeon Crawl", to: Routes.crawler_path(@conn, :show), class: "nav-link" %></li>
        </ul>
        <ul class="navbar-nav mr-0">
          <%= if @current_user do %>
            <li class="nav-item"><%= link @current_user.username, to: Routes.user_path(@conn, :show), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Reference", to: Routes.page_path(@conn, :reference), class: "nav-link" %></li>
            <%= if user_can_edit_dungeons(@current_user) do %>
            <li class="nav-item"><%= link "Edit Dungeons", to: Routes.dungeon_path(@conn, :index), class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link "Tile Templates", to: Routes.manage_tile_template_path(@conn, :index), class: "nav-link" %></li>
            <%= if @current_user.is_admin do %>
            <li class="nav-item"><%= link "Users", to: Routes.manage_user_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Dungeons", to: Routes.manage_dungeon_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Instances", to: Routes.manage_map_set_instance_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Settings", to: Routes.setting_path(@conn, :edit), class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete", class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link "Register", to: Routes.user_path(@conn, :new), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Log in", to: Routes.session_path(@conn, :new), class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main class="<%= main_tag_class(assigns) %>" role="main">
          <%= if get_flash(@conn, :info) do %><p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
          <%= if get_flash(@conn, :error) do %><p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><% end %>

          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>

  </body>
  <script>window.userToken = "<%= assigns[:user_token] %>"</script>
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</html>
