<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DungeonCrawl</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link "Dungeon Crawl", to: Routes.crawler_path(@conn, :index), class: "nav-link" %></li>
        </ul>
        <ul class="navbar-nav mr-0">
          <%= if @current_user do %>
          <li class="nav-item"><%= link @current_user.username, to: Routes.user_path(@conn, :show), class: "nav-link" %></li>
          <%=   if @current_user.is_admin do %>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>

              <div class="bg-dark dropdown-menu" aria-labelledby="adminMenuLink">
                <%= link "Users", to: Routes.admin_user_path(@conn, :index), class: "nav-link" %>
                <%= link "Dungeons", to: Routes.admin_dungeon_path(@conn, :index), class: "nav-link" %>
                <%= link "Dungeon Processes", to: Routes.admin_dungeon_process_path(@conn, :index), class: "nav-link" %>
                <%= link "Settings", to: Routes.admin_setting_path(@conn, :edit), class: "nav-link" %>
                <%= link "Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: "nav-link" %>
              </div>
            </div>
          </li>
          <%   end %>

          <%=  if user_can_edit_dungeons(@current_user) do %>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Editors
              </a>

              <div class="bg-dark dropdown-menu" aria-labelledby="adminMenuLink">
                <%= link "Edit Dungeons", to: Routes.dungeon_path(@conn, :index), class: "nav-link" %>
                <%= link "Items", to: Routes.equipment_path(@conn, :index), class: "nav-link" %>
                <%= link "Tile Templates", to: Routes.tile_template_path(@conn, :index), class: "nav-link" %>
                <%= link "Sound Effects", to: Routes.effect_path(@conn, :index), class: "nav-link" %>
                <%= link "Dungeon Exports", to: Routes.dungeon_export_path(@conn, :dungeon_export_list), class: "nav-link" %>
                <%= link "Dungeon Imports", to: Routes.dungeon_import_path(@conn, :dungeon_import), class: "nav-link" %>
              </div>
            </div>
          </li>
          <%   end %>
          <% end %>

          <li class="nav-item"><%= link "Scores", to: Routes.score_path(@conn, :index), class: "nav-link" %></li>
          <li class="nav-item"><%= link "Reference", to: Routes.page_path(@conn, :reference), class: "nav-link" %></li>

          <%= if @current_user do %>
          <li class="nav-item"><%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete", class: "nav-link" %></li>
          <% else %>
          <li class="nav-item"><%= link "Register", to: Routes.user_path(@conn, :new), class: "nav-link" %></li>
          <li class="nav-item"><%= link "Log in", to: Routes.session_path(@conn, :new), class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main class="<%= main_tag_class(assigns) %>" role="main">
          <%= if get_flash(@conn, :info) do %><p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
          <%= if get_flash(@conn, :error) do %><p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><% end %>

          <%= @inner_content %>
        </main>
      </div>
    </div>

  </body>
  <script>window.logSocketMessages=<%= Mix.env() != :prod %></script>
  <script>window.userToken = "<%= assigns[:user_token] %>"</script>
  <script src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
</html>
