# copy to prod.env and update with the proper values for your env if running prod
SECRET_KEY_BASE=
LIVEVIEW_SECRET_SALT=

PORT=4000

DATABASE_SSL=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE=dungeon_crawl_prod
DATABASE_HOSTNAME=
POOL_SIZE=10
