<h2>New crawler</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.crawler_path(@conn, :create) %>

<%= link "Back", to: Routes.crawler_path(@conn, :index) %>
