<h2>New level</h2>

<%= render "form.html", changeset: @changeset, generators: @generators, max_dimensions: @max_dimensions, level: nil, dungeon: @dungeon,
                        action: Routes.edit_dungeon_level_path(@conn, :create, @dungeon) %>

<%= link "Back", to: Routes.edit_dungeon_path(@conn, :show, @dungeon) %>
